# Python
__pycache__/
*.py[cod]

# Virtual Env
.venv/

# Environment
.env

# VS Code
.vscode/

# Node
node_modules/

# Django
db.sqlite3

# Logs
*.log

#static files
staticfiles/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Kubernetes secrets
kubernetes/secrets.yaml
kubernetes/*secret*.yaml
!kubernetes/secrets.example.yaml